<header id="layout-header">
    <nav>
        <div class="website-logo">
            <i class="fas fa-users"></i>
            <a href='/'>Codeial</a>
        </div>

        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li class="nav-btn clr">
                    <% for(user of locals.user.recievedRequests){%>
                    <a href="/users/profile/<%= user %>"><i class="fas fa-bell"></i><%= user %></a>
                    <%}%>
                </li>
                <li class="nav-btn clr">
                    <a href="/users/profile"><%= user.name %></a>
                </li>
                <li class="nav-btn">
                    <a href="/users/sign-out"><i class='fas fa-sign-out-alt'></i> Sign Out</a>
                </li>
                <% }else{ %>
                <li class="nav-btn">
                    <a href="/users/sign-up"><i class="fas fa-user"></i> Sign Up</a>
                </li>
                <li class="nav-btn">
                    <a href="/users/sign-in"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>

                <% } %>
            </ul>
        </div>
    </nav>



</header>