<link rel="stylesheet" href="/css/common.css">
<% if(password_token.isValid) { %>
<div id="forgot-password-div" class="forget-container">
    <div class="heading">Welcome to <span class="text-highlight-2"><a href="/"> Codeial</a></span></div>
    <div class="user-box">Hi <b><%= user.name %> </b>please set your new password!</div>
    <form action="/users/update-password/<%= password_token.accessToken %>" method="POST" class="forget-form">
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <div class="btn">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<% }else{ %>
<div id="forgot-password-div" class="forget-container">
    <div class="heading">Welcome to <span class="text-highlight-2"><a href="/"> Authenticator</a></span></div>
    <div class="user-box">Your access token is expired please re-generate by your email!</div>
    <div class="user-box"> Please enter your email to get password reset link!</div>
    <form action="/users/create_reset_token" method="post" class="forget-form">
        <input type="email" name="email" placeholder="Enter your email" required>
        <div class="btn">
            <button type="submit">Submit</button>
        </div>
    </form>

</div>
<% } %>