

<div id="forgot-password-div">
    <form action="/users/create_reset_token" method="post">
        <input type="email" name="email" id="" placeholder="Enter your email">
        <button type="submit">Submit</button>
    </form>

</div>