<link rel="stylesheet" href="/css/common.css">

<div id="forgot-password-div" class="forget-container">
    <div class="heading">Welcome to <span class="text-highlight-2"><a href="/"> Codeial</a></span></div>

    <div class="user-box"> Please enter your email to get password reset link!
        <br><span class="note">Note: please do check in spam folder as well!</span>
    </div>

    <form action="/users/create_reset_token" method="post" class="forget-form">
        <input type="email" name="email" placeholder="Enter your email" required>
        <div class="btn">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>