<div>

    <h3>Hii Thanks for using CODIEAL! Please reset your password with given Link.</h3>
    <a href="http://localhost:8000/users/reset_password/<%= password_token.accessToken %>">Click
        here to reset your
        password!</a>

    <br>
    <br>
    <br>
    <p>
        Thanks & Regards! <br>
        CODIEAL
    </p>
</div>